* {
  margin: 0;
}

form {
  width: 20vw;

  /* text-align: center; */
}

.container .center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group {
  margin: 5px;
}

label {
  margin-bottom: 3px;
}

table.greyGridTable {
  border: 2px solid #ffffff;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td,
table.greyGridTable th {
  border: 1px solid #ffffff;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #ebebeb;
}
table.greyGridTable thead {
  background: #ffffff;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot td {
  font-size: 14px;
}
